<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #f2f2f2;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/agent">BuildLink</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Find Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Bids</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/agent/my-services">My Services</a>
                    </li>
                </ul>
                <form class="d-flex align-items-center">
                    <a href="/agent/my-profile">
                        <img src="/images/profile.jpeg" alt="Profile image" class="rounded-circle me-2" style="width: 40px; height: 40px;">
                    </a>
                    <!-- <p class="mt-1 mb-0">{{name}}</p> -->
                    <a href="/agent/logout" class="btn btn-outline-primary ms-2">Log Out</a>
                </form>
            </div>
        </div>
    </nav>
</header>
