<div class="container mt-after-header">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card h-100">
                <img src="/images/intro.png" class="card-img-top" alt="Resources Image">
                <div class="card-header">
                    Resources
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Here you can find resources like metals, concrete, etc.
                    </p>
                    <a href="#" class="btn btn-primary">Find Resources</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <img src="/images/intro.png" class="card-img-top" alt="Machinery Image">
                <div class="card-header">
                    Machinery
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Here you can find machinery like cranes, excavators, etc.
                    </p>
                    <a href="#" class="btn btn-primary">Find Machinery</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <img src="/images/intro.png" class="card-img-top" alt="Labourers Image">
                <div class="card-header">
                    Labourers
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Here you can find skilled labourers for your construction project.
                    </p>
                    <a href="#" class="btn btn-primary">Find Labourers</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .mt-after-header {
        margin-top: 100px; /* Adjust this value according to your header height */
    }
</style>
